html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	color: #241C15;
}



ol, ul {
	list-style: none;
	font-size: 0.875rem;
	-moz-column-count: 2;
	-moz-column-gap: 20px;
	-webkit-column-count: 2;
	-webkit-column-gap: 20px;
	column-count: 2;
	column-gap: 20px;
	margin-bottom: 2.3em
}

li {
	margin-bottom: 0.8em;
}

li::before {
	content: "";
	display: inline-block;
	height: 2px;
	width: 2px;
	border: solid;
	background-color: #007c89;
	border-radius: 100%;
	font-weight: 900;
	margin-right: 10px;
	color: #007c89;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*:focus {
	outline: none;
}

.left-sidebar {
	background-color: #ffe01b;
	width: 8px;
	margin-top: -8em;
	z-index: 1;
	grid-area: left-sidebar;
}

.main {
	position: relative;
  display: grid;
	height: 100vh;
	grid-template-columns: 8% 67% 25%;
	grid-template-areas: "left-sidebar form picture"
}

.main h1 {
  font-size: 2.8rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 500;
  margin-bottom: .4em;
}

.main p {
  font-size: 1.0rem;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5rem;
  margin-bottom: 1.3em;
}

.main a {
  text-decoration: none;
  color: #007c89;
}

.picture {
	grid-area: picture;
	background-color: #ffe01b;
}

.sign-up-form {
	margin-left: 5em;
	margin-top: 8em;
	padding: 0 2em;
	max-width: 600px;
	grid-area: form;
}

.form-label {
	display: block;
	font-weight: 600;
	margin-bottom: .5em;
}

.form-input {
	display: block;
	border: 1px solid rgba(36, 28, 21, 0.3);
	border-radius: 2px;
	padding: 0 .5em;
	margin-bottom: 1em;
	min-height: 44px;
	width: 100%;
	max-width: 635px;
	font-size: 1.1rem;
	font-weight: 500;
}

.form-input:focus {
	border: 1px solid #007c89;
	box-shadow: inset 0 0 0 1px #007c89;
}

.flex {
	display: flex;
	margin-bottom: 4.5em;
}

.btn {
	color: white;
	background-color: #007c89;
	border: none;
	border-radius: 2px;
	font-size: 1rem;
	font-weight: bold;
	padding: 0.8em 3.0em;
	margin-right: 2em;
}

.checkbox {
	margin-right: 1.25em;
	height: 25px;
	width: 25px;
}

p.sign-up-text {
	font-size: .875rem;
}

.main footer {
	position: fixed;
	margin-left: 1em;
	bottom: 0;
}

.main footer p {
	font-size: 0.75rem;
	padding: 0;
	color: grey;
	margin: 0 0 0.5em 0;
	line-height: 1.5;
}